<!DOCTYPE html>
<html>
    <head> 
         {% include "head.html"  %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <title>Change Password</title>
    </head>
    <body>
         {% include 'ctmid.html' %}

        <div style="height: 40px;">
                <center>
                    {{msg}}
                </center>
             
        </div>
        <center><h2>Change Password</h2></center>
        <br>

            <div class="container mt-3">
                <div class="row">
                    <form autocomplete="off" method="post" name="frmlogin">
                        <div>
                            <label><font color="red" >*</font>Current Password</label>
                            <input type="password" class="form-control" name="txtcurrentpasswordd" placeholder="Enter Current Password" required autofocus="on"/>
                        </div>
                        <br>
                        <div>
                            <label><font color="red" >*</font>New Password</label>
                            <input type="password"  class="form-control"  name="txtnewpassword" placeholder="Enter New Passwordr" required />
                        </div>
                        <br>
                        <div>
                            <label><font color="red" >*</font>Confirm Password</label>
                            <input type="password"  class="form-control"  name="txtconfirmnewpassword" placeholder="Confirm New Password" required />
                        </div>
                        <br>
                        <center>
                        <div>
                            <input type="submit" class="btn btn-success" name="btnsubmit" value="Change Password"/>
                            <input type="reset" class="btn btn-warning" name="btnreset" value="Cancel"/>
                        </div>
                        </center>
                        {% csrf_token %} 
                    </form> 
                </div>
            </div>

        {% include 'last.html' %}
    </body>
</html>