<!DOCTYPE html>
<html>
    <head>
         {% include 'hotelhead.html' %}
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Change Password</title>
    </head>
    <body>
         {% include 'hotelmid.html' %}
         <center><h2>Change Password</h2></center>
        {% if msg %}
        
        <div class="alert alert-success" align="center">
            <strong>{{msg}}</strong> 
        </div>
		{% endif %}            
        </div>

        <br>

            <div class="container mt-3">
                <div class="row">
                    <form autocomplete="off" method="post" name="frmlogin">
                        <div>
                            <label><font color="red" >*</font>Current Password</label>
                            <input type="password" class="form-control" name="txtcurrentpasswordd" placeholder="Enter Current Password" required autofocus="on"/>
                        </div>
                        <br>
                        <div>
                            <label><font color="red" >*</font>New Password</label>
                            <input type="password"  class="form-control"  name="txtnewpassword" placeholder="Enter New Passwordr" required />
                        </div>
                        <br>
                        <div>
                            <label><font color="red" >*</font>Confirm Password</label>
                            <input type="password"  class="form-control"  name="txtconfirmnewpassword" placeholder="Confirm New Password" required />
                        </div>
                        <br>
                        <center>
                        <div>
                            <input type="submit" class="btn btn-success" name="btnsubmit" value="Change Password"/>
                            <input type="reset" class="btn btn-warning" name="btnreset" value="Cancel"/>
                        </div>
                        </center>
                        {% csrf_token %} 
                    </form> 
                </div>
            </div>

        {% include 'hotellast.html' %}
    </body>
</html>