<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"><h3>
	<meta name="viewport" content="width=device-width, initial-scale=1"><h3>
	<title></title>
</head>
<body>
    <a target="_blank" href="mstcategory"><h3>mstcategory</h3></a>
    <a target="_blank" href="categorysearch"><h3>categorysearch</h3></a>
    <a target="_blank" href="hotelregister"><h3>hregister</h3></a>
    <a target="_blank" href="hoteldisplay"><h3>hoteldisplay</h3></a>
    <a target="_blank" href="hotelsearch"><h3>hotelsearch</h3></a>
    <a target="_blank" href="hotelchangepassword"><h3>changepassword</h3></a>
    <a target="_blank" href="/"><h3>index</h3></a>
    <a target="_blank" href="login"><h3>logincode</h3></a>
    <a target="_blank" href="register"><h3>superadminregister</h3></a>
    <a target="_blank" href="admindisplay"><h3>superadmmindisplay</h3></a>
    <a target="_blank" href="adminsearch"><h3>adminsearch</h3></a>
    <a target="_blank" href="changepassword"><h3>changepassword</h3></a>
    <a target="_blank" href="itemlist"><h3>itemlist</h3></a>
    <a target="_blank" href="itemdisplay"><h3>itemdisplay</h3></a>
    <a target="_blank" href="itemsearch"><h3>itemsearch</h3></a>
    <a target="_blank" href="customerregister"><h3>customerregister</h3></a>
    <a target="_blank" href="customerdisplay"><h3>customerdisplay</h3></a>
    <a target="_blank" href="customersearch"><h3>customersearch</h3></a>
    <a target="_blank" href="mstmembership"><h3>mstmembership</h3></a>
    <a target="_blank" href="mstmembershipdisplay"><h3>mstmembershipdisplay</h3></a>

</body>
</html>